.services--container {
  width: 100vw;
  height: 580px;
  background-color: white;
  padding: 40px;
}

.services--group {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.services--container > h1 {
  text-align: center;
  padding: 20px;
}
